.card
{
    background-color: #2cb493;
    width: 420px;
    min-height: 500px;
    margin: 3% auto;
    /* position: absolute; */
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    border-radius: 1px;
    overFlow: hidden;
}
.input
{
    width: 240px;
    padding: 10px;
    outline: none;
    border: none;
    height: 25px
}
.button
{
    background-color: #020B10;
    color: white;
    width: 100px;
    padding: 10px;
    height: 45px;
    position: relative;
    cursor: pointer;
    border: none
}
.container
{
    padding: 25px;
    /* border: "2px red solid", */
}
